[user]
	email = terauchi.hiroshi@cloud-ace.jp
	name = terauchi hiroshi
[credential]
    helper = store --file ~/.git-credentials

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[alias]
    lol = log --oneline --graph
    loa = log --oneline --graph --all
    st = status -sb

[core]
    excludesFile = /Users/terauchi.hiroshi/.gitignore_global
	quotepath = false
	editor = code --wait
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[http]
	cookiefile = /Users/terauchi.hiroshi/.gitcookies
